@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Using rem cos it not as rigid as the px
*/
html {
  font-size: 62.5%;
}
body {
  background-color: #d9d9d9;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

div {
  margin-top: 22px;
}

p {
  background: -webkit-linear-gradient(45deg, rgb(0, 110, 255), rgb(355, 31, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 40%;
  margin: 0 auto;
}

.formGroup input {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.5rem;
  outline: none;
  font-size: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.search-btn {
  cursor: pointer;
  background-color: none;
  border: none;
  border-radius: 10px;
  padding: 1rem 6rem;
  margin: 0 2.4rem 8rem 8.5rem;
  font-size: 2rem;
}
.search-btn:hover {
  background-color: aliceblue;
  transition-delay: 0.1s;
}

.hidden {
  display: none;
}
.logo-wrap {
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 0.6rem;
}
#carrier-logo {
  width: 100%;
}

/* Queries */
/* Below 544px (phones)
/* 1em =1rem = 16px */

@media (max-width: 34em) {
  h1 {
    margin-bottom: 3.2rem;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .grid {
    grid-template-columns: 1fr;
    display: grid;
    row-gap: 4.8rem;

    background: linear-gradient(
      90deg,
      rgb(228, 208, 217) 0%,
      rgb(212, 224, 238) 100%
    );
  }
  .phone-number {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    column-gap: 2rem;
    margin: auto 2rem;
  }
  .formGroup {
    background: #fff;
    border-radius: 10px;
    text-align: center;
  }
  .formGroup label {
    margin-left: 2rem;
  }

  input {
    width: 3.2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
  }

  h1 {
    text-align: center;
  }
  p {
    font-size: 1.4rem;
  }
}
